*{
  box-sizing:border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  font-size: 11rem;
  line-height: 1.5;
  color:#333;
  overflow: hidden;
}
h1{
  font-size: 13px;
  color:#fff;
  text-align: left;
  margin: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;


}

ul {
    list-style-type: circle;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

ul{
  margin: 0;
  padding: 0;

}

.linkerbalk{
  width: 70px;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: #000;
  z-index: 4;
}
.rechterbalk{
  width: 70px;
  top: 0;
  left: auto;
  right: 0;
  height: 100%;
  position: fixed;
  background-color: #000;
  z-index: 4;
}
  .bovenbalk{
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    background-color: #000;
    z-index: 4;
  }

    .onderbalk{
      height: 70px;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      position: fixed;
      background-color: #000;
      z-index: 4;
    }

.items{
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  visibility: visible;
  z-index: 5;

}
  .tickets{
    position: absolute;
    font-size: 0.10em;
    display: list-item;
    letter-spacing: 0.3em;
    top: 20px;
    left: 45%;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;


  }
  a:before,
  a:after,
  span:before,
  span:after
  {
    content: '';
    position: absolute;
    height: 100%;
    width: 25.5%;
    background:#EA4D89;
    z-index: 5;
    transition: .5s;
  }
  a:before{
  top:0;
  left: -26%;
  }
  a:hover:before{
  top:0;
  left: 0%;
  }
  a:after{
    top:0;
    right: -26%;
  }
  a:hover:after{
    top:0;
    right: 0%;

  }

  span:before{
    bottom: -100%;
    left:25%;
  }
  span:hover:before{
    bottom:0%;
    left:25%;
  }
  span:after
  {
    top:-100%;
    left:50%;

  }
  span:hover:after
  {
    top:0%;
    left:50%;
  }
a:hover
{
  color:#fff;

}
.festival{
  position: absolute;
  font-size: 0.10em;
  display: list-item;
  letter-spacing: 0.3em;
  top: 20px;
  left: 35px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
.tekstvak1{
z-index: 5;
height: 70px;
top: 0;
left: 0;
right: 0;
width: 100%;
position: fixed;
margin-left: 130px;
margin-top: 150px;
padding-right: 300px;
font-family: 'lato', sans-serif;


}


.uitlijn li{

line-height: 1.8em;
}

.lineup{
  position: absolute;
  font-size: 0.10em;
  display: list-item;
  letter-spacing: 0.3em;
  top: 20px;
  right: 35px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
.practicalities
{
  position: absolute;
  font-size:0.10em;
  display: list-item;
  letter-spacing: 0.3em;
  bottom: 20px;
  left: 35px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
.About{
font-size: 0.1em;
position: absolute;
bottom: 500px;
left: 350px;
color: #fff;

}
.map{
  position: absolute;
  font-size: 0.10em;
  display: list-item;
  letter-spacing: 0.3em;
  bottom: 20px;
  right: 35px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}

.date{
  position: absolute;
  font-size: 0.08em;
  display: list-item;
  letter-spacing: 0.3em;
  top: 50%;
  left: 25px;
  transform: rotate(-90deg) translate(-50%, 50%);
  transform-origin: 0 50%;

}

.name {
  position: absolute;
  font-size: 0.08em;
  display: list-item;
  letter-spacing: 0.3em;
  top: 50%;
  right: 25px;
  transform: rotate(90deg) translate(50%, 50%);
  transform-origin: 100% 50%;

}

.socialmedia {
  position: absolute;
  font-size: 0.10em;
  display: list-item;
  letter-spacing: 0.3em;
  bottom: 20px;
  left: 50%;

}

.icons{
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  vertical-align: middle;
}
.icons > li {
  display: inline-block;
}


.v-header{
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}
.container{
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}
.fullscreen-video-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap{
min-width: 100%;
min-height: 100%;
}
.header-overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left:0;
  background-color: #225470;
z-index: 2;
opacity: 0.8;
}
.header-content {
  z-index: 3;
}
.header-content h1{
  font-size: 100px;
  margin-bottom: 0;
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100vh;

}
.header-content p{
  font-size: 1.5rem;
  display: block;
  padding-bottom: 5rem;
}
.btn{

  color: #fff;
  font-size: 1.2rem;
  padding-left: 1rem 2rem;
  text-decoration: none;
}
.logowit{

  z-index: 5;
  width: 200px;
  margin: 0 auto;
}

.Houserules{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Houserules{
min-width: 100%;
min-height: 100%;
}








.visible{
  background-color: red;
}



@media screen and (max-width:960px){
  .container{
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 780px) {
  .tekstvak1{
  z-index: 5;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  margin-left: 130px;
  margin-top: 72px ;
  padding-right: 260px ;
  font-family: 'lato', sans-serif;
  }



@media screen and (max-width: 450px){
  .onderbalk, .bovenbalk {
    height: 35px;
  }

  .rechterbalk, .linkerbalk {
    width: 35px;
  }

  .name {
    right: 12px;
    font-size: 10px;}

  .date {
      right: 12px;
      font-size: 10px;
    left:12px;}
    .tickets{top:10px;
    font-size: 10px;
    }
  .lineup{
    top:10px;
    font-size: 10px;
  }
  .practicalities{
    bottom:7px;
    font-size: 10px;
  }
  .festival{
        top:10px;
        font-size: 10px;}
        .socialmedia{bottom:7px;
        font-size: 10px;
        }
    .map{
          bottom:7px;
          font-size: 10px;
        }
    .tekstvak1{
      overflow-y: scroll;
      z-index: 5;
      height: 519px;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      position: fixed;
      margin-left: 70px;
      margin-top: 35px;
      padding-right: 140px;
      padding-left: 16px;
      padding-top: 50px;
      font-family: 'lato', sans-serif;
    }
    .uitlijn{
      height: 100px;
    }
}
